@font-face {
    font-family: 'RobotoBold';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'RobotoItalic';
    src: url(fonts/Roboto-Italic.ttf) format('truetype');
}

body{
    background-color: lightgray;
}

header {
    background-color: darkolivegreen;
}

nav {
    text-align: center;
    
}

a {
    padding: 10px;
}

h1 {
    font-family: 'RobotoBold', sans-serif;
    font-size: 1em;
    text-align: center;
}

article {
    background-color: gray;
    font-family: 'RobotoBold', sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 100px;
}

.calltoaction {
    background-color: lightblue;
}

footer {
    background-color: darkolivegreen;
}

/*
p {
    font-family: 'RobotoItalic', sans-serif;
    font-size: 3em;
}
*/